<form [formGroup]="productForm" (ngSubmit)="addProduct()" class="mt-3">
  <div class="mb-3">
    <label for="nom" class="form-label">Nom du produit:</label>
    <input type="text" id="nom" formControlName="nom" class="form-control" required>
    <div class="invalid-feedback" *ngIf="productForm.controls['nom'].invalid && productForm.controls['nom'].touched">
      Le nom du produit est requis.
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <textarea id="description" formControlName="description" class="form-control" rows="3"></textarea>
    </div>
  </div>
  <div class="mb-3">
    <label for="prix" class="form-label">Prix:</label>
    <input type="number" id="prix" formControlName="prix" class="form-control" required>
    <div class="invalid-feedback" *ngIf="productForm.controls['prix'].invalid && productForm.controls['prix'].touched">
      Le prix du produit est requis.
    </div>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" id="cheked" formControlName="cheked" class="form-check-input">
    <label for="cheked" class="form-check-label">Favoris</label>
  </div>
<!-- image -->
<div class="mb-3">
  <label for="image" class="form-label">Image</label>
  <input type="file" class="form-control" (change)="onImageSelected($event)" accept="image/*" required>
</div>
<div class="mb-3">
  <label for="previewImage" class="form-label">Votre image:</label>
  <img id="previewImage" [src]="selectedImage" alt="Preview Image" class="img-fluid">
</div>
<!-- fin -->
  <button type="submit" class="btn btn-brown" [disabled]="productForm.invalid">Ajouter</button>
</form>
