<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Total: {{ totalProducts }}</h5>
          <button type="button" class="btn btn-info btn-lg btn-block">
            <i class="fas fa-shopping-basket"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Favoris: {{ checkedProducts }}</h5>
          <button type="button" class="btn btn-success btn-lg btn-block">
            <i class="fas fa-check-square"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Page Size: {{ pageSize }}</h5>
          <button type="button" class="btn btn-danger btn-lg btn-block">
            <i class="fas fa-check-square"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Page: {{ currentPage }}</h5>
          <button type="button" class="btn btn-primary btn-lg btn-block">
            <i class="fas fa-check-square"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
