<form [formGroup]="productForm" (ngSubmit)="updateProduct()" class="needs-validation" novalidate>
  <div class="form-group">
    <label for="nom">Nom:</label>
    <input type="text" class="form-control" id="nom" formControlName="nom">
    <div *ngIf="productForm.get('nom')?.invalid && productForm.get('nom')?.touched" class="invalid-feedback">Le nom du produit est requis.</div>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea class="form-control" id="description" formControlName="description" rows="3"></textarea>
  </div>
  <div class="form-group">
    <label for="prix">Prix:</label>
    <input type="number" class="form-control" id="prix" formControlName="prix">
    <div *ngIf="productForm.get('prix')?.invalid && productForm.get('prix')?.touched" class="invalid-feedback">Le prix du produit est requis.</div>
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="cheked" formControlName="cheked">
    <label class="form-check-label" for="cheked">Favoris</label>
  </div>
  <div class="form-group">
    <label for="photo">Photo:</label>
    <input type="file" class="form-control" (change)="onImageSelected($event)" accept="image/*" required>
  </div>
  <div class="mb-3">
    <label for="previewImage" class="form-label">Aperçu de l'image</label>
    <img id="previewImage" [src]="selectedImage" alt="Preview Image" class="img-fluid" style="max-width: 150px;">
  </div>
  <button type="submit" [disabled]="!productForm.valid" class="btn btn-primary mt-3">Modifier</button>
</form>
